html,
body {
  padding: 0;
  margin: 0;
  background:#182630; 
  /* background:#26364b; */

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}